
@{
    ViewData["Title"] = "ConfirmPage";
}

@model PillarTechBabysittingKata.Models.Appointments
<h1>Confirm Appointment</h1>

Is the information for this appointment correct?

<form asp-action="AddAppointment">
    <input type="hidden" name="Id" />
    Family: @Model.FamilyId
    Start time: @Model.StartTime
    End time: @Model.EndTime
    <input type="submit" value="Confirm" />
</form>