
@{
    ViewData["Title"] = "CreateAppointment";
}

<h1>Create an appointment</h1>

<form asp-action="CreateAppointment" method="post">
    Family:
    A: <input type="radio" name="FamilyId" value="A" />
    B: <input type="radio" name="FamilyId" value="B" />
    C: <input type="radio" name="FamilyId" value="C" />
    Start time: <input type="datetime-local" name="StartTime" value="@string.Format("{0:YYYY-MM-DDThh:mm:ss}")" />
    End time: <input type="datetime" name="EndTime" value="" />
</form>