
@{
    ViewData["Title"] = "Create an appointment";
}
<h1>Create an appointment</h1>
@{ if (TempData.Peek("message") != null)
    {
        <h6 style="color:red">Error: @TempData.Peek("message")</h6>
    }
}
<form asp-action="CreateAppointment" method="post">
    Family:
    A: <input type="radio" name="FamilyId" value="A" required />
    B: <input type="radio" name="FamilyId" value="B" />
    C: <input type="radio" name="FamilyId" value="C" />
    <br>
    Date: <input type="date" name="StartDate" required />
    Starting time:
    <select name="StartTime" required>
        <option value="05:00:00">5PM</option>
        <option value="06:00:00">6PM</option>
        <option value="07:00:00">7PM</option>
        <option value="08:00:00">8PM</option>
        <option value="09:00:00">9PM</option>
        <option value="10:00:00">10PM</option>
        <option value="11:00:00">11PM</option>
        <option value="12:00:00">12PM</option>
        <option value="01:00:00">1AM</option>
        <option value="02:00:00">2AM</option>
        <option value="03:00:00">3AM</option>
    </select>
    Ending Time:
    <select name="EndTime" required>
        <option value="06:00:00">6PM</option>
        <option value="07:00:00">7PM</option>
        <option value="08:00:00">8PM</option>
        <option value="09:00:00">9PM</option>
        <option value="10:00:00">10PM</option>
        <option value="11:00:00">11PM</option>
        <option value="12:00:00">12PM</option>
        <option value="01:00:00">1AM</option>
        <option value="02:00:00">2AM</option>
        <option value="03:00:00">3AM</option>
        <option value="04:00:00">4AM</option>
    </select>
    <input type="submit" value="Create appointment" />
</form>
